.godot/
export/
build/
# Служебные файлы Godot, которые он создаёт сам при импорте
*.uid
*.import
# …кроме настроек импорта готовых текстур и звуков: в них мипмапы, петли, сжатие
!textures/**/*.import
!sounds/**/*.import
